/* font-family: 'Lexend Deca', sans-serif;
   font-family: 'Big Shoulders Display', cursive; */
   
   body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   }

   .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
    height: 450px;
    margin: 200px 500px;
    
   }

   .container-1{
    background-color: #E28524;
    border-radius: 10px 0 0 10px;
    position: relative;
   }

   img{padding-top: 30px;
       padding-left: 30px;

   }

   .container-2{
    background-color: #006971;
    position: relative;
   }

   .container-3{
    background-color: #00403E;
    border-radius: 0 10px 10px 0;
    position: relative;
   }

   h1{
    color:white;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    padding-left: 30px;
    

}

.sub{color:white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: small;
    padding: 0px 30px;
    line-height: 1.5rem;
   
   
    

}

.info-1{
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    color: #E28524;
    position: absolute;
   bottom: 80px;
   left: 30px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}

.info-2{
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    color: #006971;
   position: absolute;
   bottom: 80px;
   left: 30px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}

.info-3{
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    color: #00403E;
    position: absolute;
   bottom: 80px;
   left: 30px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}

@media screen and (max-width:400px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        width: unset;
        height: unset;
        margin: unset; 
        padding: 3rem 1rem;
       }

}